# Server and Framework
fastapi
uvicorn

# Database
sqlalchemy[asyncio]
asyncpg
pydantic-settings

# Hashing Password and Encryption
passlib[bcrypt]
python-jose[cryptography]

# Rate Limiting
slowapi
python-multipart

# Utils packages
python-dotenv