# Server and Framework
fastapi
uvicorn

# Database
sqlalchemy[asyncio]
asyncpg
pydantic-settings
psycopg[binary]

# Hashing Password and Encryption
passlib[bcrypt]
python-jose[cryptography]

# Rate Limiting
slowapi
python-multipart

# Utils packages
python-dotenv

# AI
numpy
pandas
torch
scikit-learn

# LLM
huggingface_hub
